@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --gray-1: #333333;
    --gray-2: #4F4F4F;
    --gray-3: #828282;
    --gray-4: #BDBDBD;
    --gray-5: #E0E0E0;
    --gray-6: #F2F2F2;

    --blue: #2D9CDB;
    --red: #EB5757;
    --green: #27AE60;

    --primary: var(--blue);
    --primary-2: var(--red);
    --footer-bg: #100E1D;

    --font-size-small: 16px;
    --font-size-large: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-size: var(--font-size-small);

    @media only screen and (min-width: 768px) {
        font-size: 150%;
        font-size: var(--font-size-large);
    }
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (min-width: 576px) {
        max-width: 540px;
    }

    @media only screen and (min-width: 768px) {
        max-width: 720px;
    }

    @media only screen and (min-width: 992px) {
        max-width: 960px;
    }

    @media only screen and (min-width: 1200px) {
        max-width: 1140px;
    }

    @media only screen and (min-width: 1400px) {
        max-width: 1320px;
    }
}

nav, header, section, footer {
    width: 100%;
}

section, header {
    font-size: 1rem;
    margin-bottom: 100px;
}

h1, .h1, h2, h3 ,p, a, label, input[type="submit"] {
    line-height: 1.5em;
}

a {
    text-decoration: none;
}

.title {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--gray-1);
    font-family: 'Heebo', sans-serif;
}

.icon {
    font-weight: 400;
    font-family: 'Material Icons';
}

img {
    width: 100%;
}

h1, .h1, h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 15px;
    color: var(--gray-1);
}

h2 {
    padding: 0 30px;
    margin-bottom: 50px;
}

.highlight {
    font-size: 0.75em;
    font-weight: 500;
    color: var(--primary);

    &.red {
        color: var(--primary-2);
    }
}

nav {
    padding: 15px 0;
    margin-bottom: 20px;

    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    ul {
        display: flex;
        list-style: none;
        gap: 1.22em;
        background-color: #fff;

        li {
            line-height: 2em;
        }

        a {
            font-size: 0.9em;
            font-weight: 500;
            color: var(--gray-1);
        }
    }

    #toggle-menu {
        display: none;
        border: none;
        font-size: 1.5em;
        cursor: pointer;
        background: none;
    }

    @media only screen and (max-width: 768px) {
        #toggle-menu {
            display: block;
        }

        ul {
            gap: 0.5em;
            padding: 5px 0;
            height: 0;
            flex: 1 0 100%;
            overflow: hidden;
            flex-direction: column;
            border-bottom: 1px solid var(--gray-6);

            &.show {
                height: auto;
            }
        }
    }
}

header {
    .container:not(.img-container) {
        @media only screen and (min-width: 992px) {
            padding: 0 8rem;
        }
    }

    img {
        display: block;
        border-radius: 18px;
        margin-bottom: 22px;
    }

    & > div {
        padding: 0 30px;
    }

    .description {
        font-size: 0.75em;
        font-weight: 400;
        margin-bottom: 30px;
        color: var(--gray-2);
    }
}

form {
    font-family: 'Poppins', sans-serif;

    label {
        color: var(--gray-3);
        font-size: 0.625em;
    }

    .form-row {
        display: flex;
        width: fit-content;
        justify-content: space-between;
        background: var(--gray-6);
        border-radius: 12px;
        padding: 4px 4px 4px 20px;
    }
    
    input[type="email"] {
        font-size: 0.875em;
        border: none;
        background: none;
        color: var(--gray-2);
        font-weight: 500;

        &:focus {
            outline: none;
        }
    }

    input[type="submit"] {
        color: var(--gray-6);
        font-size: 0.875em;
        background: var(--primary);
        font-weight: 500;
        border: none;
        border-radius: 12px;
        padding: 10px 20px;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 1.25em;
}

@mixin Description($margin: 1.5625rem 0) {
    color: var(--gray-2);
    font-size: 1em;
    font-weight: 400;
    margin: $margin;
}

.services {
    .service {
        width: 100%;
        min-width: 300px;
        flex: 1 1 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        border-radius: 24px;
        padding: 40px 30px 50px;
        transition: 0.5s box-shadow ease-in-out;

        &:hover {
            box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
        
            .btn {
                color: #fff;
                background: var(--blue);
            }
        }
    }

    .icon {
        color: #fff;
        padding: 20px;
        font-size: 1.7em;
        border-radius: 16px;
        margin-bottom: 35px;

        &.blue {
            background: var(--blue);
        }

        &.red {
            background: var(--red);
        }

        &.green {
            background: var(--green);
        }
    }

    h3 {
        font-size: 1.5em;
        font-weight: 700;
        color: var(--gray-1);
    }

    .description {
        @include Description();
    }

    .btn {
        font-size: 1em;
        font-weight: 500;
        padding: 9px 12px;
        border-radius: 12px;
        color: var(--gray-3);
        background: var(--gray-5);
        transition: color 0.5s, background-color 0.5s ease-in-out;
    }
}

.our-works {
    .container {
        display: flex;
        flex-direction: column;
    }

    .cards {
        margin-bottom: 35px;
    }

    img {
        border-radius: 12px;
    }

    .feature {
        color: var(--gray-3);
        font-size: 0.75em;
        font-weight: 300;
    }

    .name {
        font-size: 1.125em;
        font-weight: 500;
        color: var(--gray-1);
    }

    a {
        color: var(--blue);
        font-size: 18px;
        font-weight: 500;
        margin-top: 35px;
        align-self: flex-end;
    }

    @media only screen and (min-width: 1200px) {
        .card:first-of-type, 
        .card:nth-of-type(3) {
            margin-top: 150px;
        }

        a {
            align-self: flex-end;
        }
    }
}

.team {
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    h2 {
        padding: 0;
        font-size: 2.25em;
        margin-bottom: 14px;
    }

    .highlight {
        font-size: 1.125em;
    }

    .info {
        @include Description($margin: 0.875rem 0);
    }

    .images {
        $gap: 10px;
        $image-width: 162.25px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        gap: $gap;

        & > div {
            display: flex;
            flex-direction: column;
            gap: $gap;

            img:first-of-type {
                width: calc(0.89 * #{$image-width});
            }

            img:nth-of-type(2) {
                width: $image-width;
            }
        }

        img {
            border-radius: 24px;
            width: calc(1.09 * #{$image-width});
        }
    }

    @media only screen and (min-width: 1200px) {
        .container {
            justify-content: space-between;
        }

        .images {
            width: auto;
        }
    }
}

.clients {
    .container {
        display: flex;
        flex-direction: column;
    }

    .qoute {
        font-weight: 500;
        font-size: 1.5em;
        color: var(--gray-1);
        margin-bottom: 30px;
    }

    .credit {
        gap: 1.88em;
        display: flex;
        align-items: center;

        & > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        img {
            width: 80px;
            height: 80px;
            border-radius: 12px;
        }

        .name {
            font-size: 1.5em;
            font-weight: 500;
            color: var(--gray-1);
        }

        .job {
            font-size: 1.125em;
            font-weight: 500;
            color: var(--gray-3);
        }
    }
}

footer {
    font-size: 1.125em;
    padding: 2em 2.5em;
    background-color: var(--footer-bg);
    
    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 100px;
        justify-content: space-between;
    }

    .title {
        color: var(--gray-6);
        font-size: 2em;
    }

    ul {
        list-style: none;

        li {
            line-height: 2em;
        }

        a {
            color: #fff;
            font-size: 1em;
        }
    }

    .social {
        display: flex;
        gap: 0.625em;

        img {
            width: 24px;
        }
    }

    .license {
        font-weight: 500;
        font-size: 0.8em;
        color: var(--gray-6);
        text-align: center;
        margin-top: 100px;
        font-family: 'Montserrat', sans-serif;

        a {
            color: var(--gray-6);
            font-weight: 700;
        }
    }
}

@media only screen and (min-width: 768px) {
    h1, .h1 {
        font-size: 2rem;
    }
    
    .services {
        font-size: calc(16/24 * 1rem);
    }

    .credit {
        font-size: calc(16/24 * 1rem);
    }

    .team {
        font-size: calc(16/24 * 1rem);
    }
}