@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

$gray-1: #333333;
$gray-2: #4F4F4F;
$gray-3: #828282;
$gray-5: #E0E0E0;
$gray-6: #F2F2F2;
$primary: #2D9CDB;
$primary-2: #EB5757;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}